<a href="https://colab.research.google.com/github/KacperKaczmarczyk/data-science-bootcamp/blob/main/02_pandas/04_laczenie_danych.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:

import numpy as np
import pandas as pd

In [4]:

def fetch_financial_data(company='AMZN'):
  """Pobiera dane dotyczące notować spółki na giełdzie według symboli na serwisie stooq.pl"""
  import pandas_datareader.data as web
  return web.DataReader(name=company, data_source='stooq')

apple = fetch_financial_data('AAPL')
amazone = fetch_financial_data('AMZN')
google = fetch_financial_data('GOOGL')
uber = fetch_financial_data('UBER')

In [5]:
apple.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1257 entries, 2023-02-08 to 2018-02-12
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    1257 non-null   float64
 1   High    1257 non-null   float64
 2   Low     1257 non-null   float64
 3   Close   1257 non-null   float64
 4   Volume  1257 non-null   float64
dtypes: float64(5)
memory usage: 58.9 KB

In [6]:
apple.head()

               Open    High      Low   Close       Volume
Date
2023-02-08  153.880  154.58  151.168  151.92   64120079.0
2023-02-07  150.640  155.23  150.640  154.65   83322551.0
2023-02-06  152.575  153.10  150.780  151.73   69858306.0
2023-02-03  148.030  157.38  147.830  154.50  154357337.0
2023-02-02  148.900  151.18  148.170  150.82  118338980.0

In [7]:
apple.columns = ['apple_' + col.lower() for col in apple.columns]
amazone.columns = ['amazone_' + col.lower() for col in amazone.columns]
google.columns = ['google_' + col.lower() for col in google.columns]
uber.columns = ['uber_' + col.lower() for col in uber.columns]

In [8]:
apple.head()

            apple_open  apple_high  apple_low  apple_close  apple_volume
Date
2023-02-08     153.880      154.58    151.168       151.92    64120079.0
2023-02-07     150.640      155.23    150.640       154.65    83322551.0
2023-02-06     152.575      153.10    150.780       151.73    69858306.0
2023-02-03     148.030      157.38    147.830       154.50   154357337.0
2023-02-02     148.900      151.18    148.170       150.82   118338980.0

In [10]:
df = pd.concat(objs=[apple, amazone, google, uber], axis=1)

In [11]:
df.describe()

,apple_open,apple_high,apple_low,apple_close,apple_volume,amazone_open,amazone_high,amazone_low,amazone_close,amazone_volume,google_open,google_high,google_low,google_close,google_volume,uber_open,uber_high,uber_low,uber_close,uber_volume
count,1257.000000,1257.000000,1257.000000,1257.000000,1.257000e+03,1257.000000,1257.000000,1257.000000,1257.000000,1.257000e+03,1257.000000,1257.000000,1257.000000,1257.000000,1.257000e+03,945.000000,945.000000,945.000000,945.000000,9.450000e+02
mean,98.865456,100.084555,97.712079,98.950290,1.175643e+08,120.584429,122.047690,118.966831,120.518483,8.580480e+07,86.544600,87.524309,85.576736,86.570632,3.520219e+07,37.253226,38.022899,36.413772,37.219217,2.554831e+07
std,46.302306,46.905975,45.695385,46.324856,5.568302e+07,34.955693,35.322559,34.532941,34.883235,3.952807e+07,30.512736,30.806943,30.156099,30.476647,1.574950e+07,9.812406,9.885167,9.656996,9.749618,1.667207e+07
min,34.743100,35.158800,34.263500,34.309400,3.519586e+07,67.300000,69.690500,65.350000,67.198000,1.762674e+07,49.216000,50.606000,48.883000,49.233500,9.312760e+06,15.960000,17.800000,13.710000,14.820000,3.380003e+06
25%,50.388300,50.699400,49.870900,50.422200,7.966672e+07,89.530500,90.245000,88.526000,89.465000,5.897420e+07,59.212500,59.829000,58.631500,59.203500,2.515340e+07,29.720000,30.410000,29.120000,29.750000,1.570857e+07
50%,107.701000,109.925000,106.226000,107.901000,1.024568e+08,108.110000,110.990000,106.372000,108.444000,7.496474e+07,75.410500,76.066000,74.758500,75.522500,3.143660e+07,34.780000,35.340000,33.940000,34.700000,2.178182e+07
75%,142.556000,144.389000,141.060000,142.753000,1.390084e+08,158.338000,159.938000,156.250000,158.100000,1.014933e+08,112.640000,114.014000,111.460000,112.721000,4.025206e+07,44.190000,44.890000,43.390000,44.000000,3.070479e+07
max,181.576000,181.885000,178.087000,180.958000,4.347085e+08,187.200000,188.654000,184.840000,186.570000,3.113457e+08,151.250000,151.547000,148.899000,149.838000,1.331771e+08,63.250000,64.050000,60.800000,63.180000,1.863225e+08

In [15]:
pd.set_option('display.float_format', lambda x: f'{x:.2f}')
df.describe().T

,count,mean,std,min,25%,50%,75%,max
apple_open,1257.00,98.87,46.30,34.74,50.39,107.70,142.56,181.58
apple_high,1257.00,100.08,46.91,35.16,50.70,109.92,144.39,181.88
apple_low,1257.00,97.71,45.70,34.26,49.87,106.23,141.06,178.09
apple_close,1257.00,98.95,46.32,34.31,50.42,107.90,142.75,180.96
apple_volume,1257.00,117564294.49,55683021.12,35195860.00,79666723.61,102456840.96,139008365.90,434708544.96
amazone_open,1257.00,120.58,34.96,67.30,89.53,108.11,158.34,187.20
amazone_high,1257.00,122.05,35.32,69.69,90.25,110.99,159.94,188.65
amazone_low,1257.00,118.97,34.53,65.35,88.53,106.37,156.25,184.84
amazone_close,1257.00,120.52,34.88,67.20,89.47,108.44,158.10,186.57
amazone_volume,1257.00,85804801.05,39528071.23,17626740.00,58974200.00,74964740.00,101493260.00,311345660.00
google_open,1257.00,86.54,30.51,49.22,59.21,75.41,112.64,151.25
google_high,1257.00,87.52,30.81,50.61,59.83,76.07,114.01,151.55
google_low,1257.00,85.58,30.16,48.88,58.63,74.76,111.46,148.90
google_close,1257.00,86.57,30.48,49.23,59.20,75.52,112.72,149.84
google_volume,1257.00,35202187.34,15749502.29,9312760.00,25153400.00,31436600.00,40252060.00,133177100.00
uber_open,945.00,37.25,9.81,15.96,29.72,34.78,44.19,63.25
uber_high,945.00,38.02,9.89,17.80,30.41,35.34,44.89,64.05
uber_low,945.00,36.41,9.66,13.71,29.12,33.94,43.39,60.80
uber_close,945.00,37.22,9.75,14.82,29.75,34.70,44.00,63.18
uber_volume,945.00,25548310.98,16672071.20,3380003.00,15708573.00,21781825.00,30704792.00,186322536.00

In [16]:
df.corr()

,apple_open,apple_high,apple_low,apple_close,apple_volume,amazone_open,amazone_high,amazone_low,amazone_close,amazone_volume,google_open,google_high,google_low,google_close,google_volume,uber_open,uber_high,uber_low,uber_close,uber_volume
apple_open,1.00,1.00,1.00,1.00,-0.36,0.77,0.77,0.76,0.77,-0.29,0.93,0.93,0.92,0.93,-0.13,0.09,0.09,0.09,0.09,0.11
apple_high,1.00,1.00,1.00,1.00,-0.35,0.77,0.77,0.76,0.77,-0.28,0.92,0.93,0.92,0.92,-0.12,0.08,0.08,0.08,0.08,0.11
apple_low,1.00,1.00,1.00,1.00,-0.37,0.77,0.78,0.77,0.77,-0.30,0.93,0.93,0.93,0.93,-0.13,0.09,0.09,0.09,0.09,0.11
apple_close,1.00,1.00,1.00,1.00,-0.36,0.77,0.77,0.76,0.77,-0.29,0.93,0.93,0.92,0.93,-0.13,0.08,0.09,0.09,0.09,0.11
apple_volume,-0.36,-0.35,-0.37,-0.36,1.00,-0.21,-0.21,-0.22,-0.22,0.57,-0.41,-0.40,-0.41,-0.41,0.48,-0.18,-0.17,-0.19,-0.18,0.23
amazone_open,0.77,0.77,0.77,0.77,-0.21,1.00,1.00,1.00,1.00,-0.25,0.79,0.79,0.79,0.79,-0.15,0.59,0.59,0.59,0.59,-0.04
amazone_high,0.77,0.77,0.78,0.77,-0.21,1.00,1.00,1.00,1.00,-0.24,0.79,0.79,0.80,0.79,-0.14,0.58,0.58,0.58,0.58,-0.03
amazone_low,0.76,0.76,0.77,0.76,-0.22,1.00,1.00,1.00,1.00,-0.27,0.79,0.79,0.79,0.79,-0.16,0.60,0.60,0.60,0.60,-0.05
amazone_close,0.77,0.77,0.77,0.77,-0.22,1.00,1.00,1.00,1.00,-0.25,0.79,0.79,0.79,0.79,-0.15,0.59,0.59,0.59,0.59,-0.04
amazone_volume,-0.29,-0.28,-0.30,-0.29,0.57,-0.25,-0.24,-0.27,-0.25,1.00,-0.32,-0.31,-0.33,-0.32,0.57,-0.18,-0.17,-0.19,-0.18,0.24
google_open,0.93,0.92,0.93,0.93,-0.41,0.79,0.79,0.79,0.79,-0.32,1.00,1.00,1.00,1.00,-0.16,0.24,0.24,0.24,0.24,0.10
google_high,0.93,0.93,0.93,0.93,-0.40,0.79,0.79,0.79,0.79,-0.31,1.00,1.00,1.00,1.00,-0.15,0.23,0.24,0.24,0.23,0.10
google_low,0.92,0.92,0.93,0.92,-0.41,0.79,0.80,0.79,0.79,-0.33,1.00,1.00,1.00,1.00,-0.17,0.25,0.25,0.25,0.25,0.09
google_close,0.93,0.92,0.93,0.93,-0.41,0.79,0.79,0.79,0.79,-0.32,1.00,1.00,1.00,1.00,-0.16,0.24,0.24,0.24,0.24,0.10
google_volume,-0.13,-0.12,-0.13,-0.13,0.48,-0.15,-0.14,-0.16,-0.15,0.57,-0.16,-0.15,-0.17,-0.16,1.00,-0.16,-0.15,-0.18,-0.16,0.28
uber_open,0.09,0.08,0.09,0.08,-0.18,0.59,0.58,0.60,0.59,-0.18,0.24,0.23,0.25,0.24,-0.16,1.00,1.00,1.00,0.99,-0.22
uber_high,0.09,0.08,0.09,0.09,-0.17,0.59,0.58,0.60,0.59,-0.17,0.24,0.24,0.25,0.24,-0.15,1.00,1.00,1.00,1.00,-0.19
uber_low,0.09,0.08,0.09,0.09,-0.19,0.59,0.58,0.60,0.59,-0.19,0.24,0.24,0.25,0.24,-0.18,1.00,1.00,1.00,1.00,-0.24
uber_close,0.09,0.08,0.09,0.09,-0.18,0.59,0.58,0.60,0.59,-0.18,0.24,0.23,0.25,0.24,-0.16,0.99,1.00,1.00,1.00,-0.21
uber_volume,0.11,0.11,0.11,0.11,0.23,-0.04,-0.03,-0.05,-0.04,0.24,0.10,0.10,0.09,0.10,0.28,-0.22,-0.19,-0.24,-0.21,1.00

In [17]:
df.columns

Index(['apple_open', 'apple_high', 'apple_low', 'apple_close', 'apple_volume',
       'amazone_open', 'amazone_high', 'amazone_low', 'amazone_close',
       'amazone_volume', 'google_open', 'google_high', 'google_low',
       'google_close', 'google_volume', 'uber_open', 'uber_high', 'uber_low',
       'uber_close', 'uber_volume'],
      dtype='object')

In [19]:
closes = [col for col in df.columns if col.endswith('close')]
closes

['apple_close', 'amazone_close', 'google_close', 'uber_close']

In [21]:
df[closes].corr()

               apple_close  amazone_close  google_close  uber_close
apple_close           1.00           0.77          0.93        0.09
amazone_close         0.77           1.00          0.79        0.59
google_close          0.93           0.79          1.00        0.24
uber_close            0.09           0.59          0.24        1.00

In [22]:
closes = [col for col in df.columns if col.endswith('close') or col.endswith('volume')]
closes

['apple_close',
 'apple_volume',
 'amazone_close',
 'amazone_volume',
 'google_close',
 'google_volume',
 'uber_close',
 'uber_volume']

In [23]:
df[closes].corr()

,apple_close,apple_volume,amazone_close,amazone_volume,google_close,google_volume,uber_close,uber_volume
apple_close,1.00,-0.36,0.77,-0.29,0.93,-0.13,0.09,0.11
apple_volume,-0.36,1.00,-0.22,0.57,-0.41,0.48,-0.18,0.23
amazone_close,0.77,-0.22,1.00,-0.25,0.79,-0.15,0.59,-0.04
amazone_volume,-0.29,0.57,-0.25,1.00,-0.32,0.57,-0.18,0.24
google_close,0.93,-0.41,0.79,-0.32,1.00,-0.16,0.24,0.10
google_volume,-0.13,0.48,-0.15,0.57,-0.16,1.00,-0.16,0.28
uber_close,0.09,-0.18,0.59,-0.18,0.24,-0.16,1.00,-0.21
uber_volume,0.11,0.23,-0.04,0.24,0.10,0.28,-0.21,1.00

Metoda append()

In [24]:
uber.head()

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2023-02-08      37.43      37.58     34.50       36.83    109597829
2023-02-07      33.66      35.06     33.41       34.90     59374036
2023-02-06      33.53      34.21     32.90       33.90     33594934
2023-02-03      32.17      33.95     32.15       33.09     25804879
2023-02-02      32.42      33.47     32.42       33.05     32045470

In [38]:
uber_6 = uber[(uber.index.month == 6) & (uber.index.year == 2022)]
uber_7 = uber[(uber.index.month == 7) & (uber.index.year == 2022)]

In [40]:
uber_6_7 = uber_6.append(uber_7)
uber_6_7

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2022-06-30      21.11      21.13     19.89       20.46     30882454
2022-06-29      22.11      22.15     21.08       21.47     30704792
2022-06-28      22.97      23.46     22.04       22.08     24360150
2022-06-27      23.45      23.64     22.34       22.86     27153354
2022-06-24      22.48      23.19     22.30       23.03     38140098
2022-06-23      21.63      22.44     21.39       22.37     27010545
2022-06-22      21.41      22.21     21.30       21.50     32353317
2022-06-21      22.00      22.46     21.69       21.76     35257652
2022-06-17      20.37      21.96     20.37       21.81     46728428
2022-06-16      21.04      21.40     20.16       20.47     55312350
2022-06-15      21.34      22.39     21.24       22.03     36073711
2022-06-14      21.72      21.95     20.89       21.09     43006334
2022-06-13      22.22      22.59     21.34       21.57     33130326
2022-06-10      24.80      24.97     23.65       23.72     29897398
2022-06-09      25.94      26.69     25.36       25.44     42149561
2022-06-08      25.70      26.55     25.30       25.83     31225314
2022-06-07      24.20      25.70     24.07       25.30     27453723
2022-06-06      24.86      25.43     24.28       24.73     29834677
2022-06-03      24.17      24.50     23.73       24.15     24283631
2022-06-02      23.07      24.83     22.94       24.74     30691100
2022-06-01      23.53      23.87     22.57       22.94     26383612
2022-07-29      23.18      23.48     22.39       23.45     29406649
2022-07-28      22.89      23.42     22.14       23.31     22886075
2022-07-27      23.00      23.32     22.49       23.09     28384348
2022-07-26      23.15      23.15     22.45       22.55     24402801
2022-07-25      23.27      23.54     22.63       23.35     12923042
2022-07-22      24.33      24.81     23.09       23.30     20209442
2022-07-21      24.02      24.25     23.60       24.23     18425364
2022-07-20      22.89      24.22     22.80       24.12     27844618
2022-07-19      22.75      23.08     22.19       22.67     23148938
2022-07-18      22.17      23.20     22.11       22.58     30935860
2022-07-15      21.00      21.78     20.77       21.67     24503631
2022-07-14      21.25      21.46     20.59       20.65     31561675
2022-07-13      20.93      21.61     20.72       21.50     18994916
2022-07-12      21.28      21.78     20.98       21.57     17373535
2022-07-11      21.95      22.25     21.14       21.19     17562117
2022-07-08      22.43      22.96     21.83       22.34     20231300
2022-07-07      21.64      22.76     21.61       22.74     23121886
2022-07-06      21.50      22.08     21.32       21.50     32689429
2022-07-05      21.17      22.55     20.83       22.52     24515795
2022-07-01      20.70      21.37     20.43       21.34     20693312